.reservation-tile{
    background-color: red;
}
.container-with-tiles{
    height: 80vh;
    overflow-y: auto;
    align-content: center;
    width: 75%;
    float: right;
}
.table-with-tiles{

}

.btn-custom{
   height: 100vh;
}