.navbar-custom {
    background-color: #f8f9fa;
}
.navbar-brand img {
    max-height: 40px;
}
.user-info {
    margin-left: auto;
}
/* Zwiększ czcionkę daty i godziny */
#current-date-time {
    font-size: 24px;
}
#reservationTable {
    width: 100%; /* Ustawienie szerokości tabeli na 100% szerokości dostępnej przestrzeni */
    table-layout: fixed; /* Ustawienie stałej szerokości kolumn */
}
td{
    padding: 2px;
    position: relative;
}
.tile{
    position: absolute; top: 0; left: 0; right: 0; bottom: 2px; display: flex; align-items: center; justify-content: center;
    width: 100%;
}
.clicked {
    outline: none;
    border: 1px solid transparent;
}
.disabled {
    color: #A9A9A9;
    background-color: #F0F0F0;
    opacity: 0.5;
}
.my-disabled {
    opacity: 0.4;
}
.my-icon {
    /* Ustawienie ikony w prawym dolnym rogu */
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.my-court-card-right-icon{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.my-court-card-left-icon{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.my-alert{
    padding: 8px;
    margin-bottom: 0;
}