<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
        <span th:each="possibleReservation : ${possibleReservations}">
            <span th:text="'data: ' + ${possibleReservation.getReservationDate()}"></span><br>
            <span th:text="'start: ' + ${possibleReservation.getTimeStart()}"></span><br>
            <span th:text="'koniec: ' +${possibleReservation.getTimeEnd()}"></span><br>
            <span th:text="'kort: ' +${possibleReservation.getCourtNumber()}"></span><br><br><br>

        </span>

        //wrapper class needed to wrap possibleReservations into another class
    </span>



</body>
</html>