<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje kortów</title>
    <link rel="stylesheet" href="/bootstrap-5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style></style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <div class="col-md-4 d-flex flex-wrap align-items-center">
        <a class="navbar-brand" style="padding-left: 15px" th:href="@{/}">
            <img width="60" height="100" src="/images/mzuk.png" alt="Logo">
        </a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courts}">Korty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/daySummary}">Roliczenie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/settings}">Ustawienia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/help}">Pomoc</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 d-flex flex-wrap align-items-center">
        <div class="navbar-text mx-auto">
            <a th:href="@{/}" class="text-decoration-none">
                <h1 id="current-date-time" class="display-4"></h1>
            </a>
        </div>
    </div>
    <div class="col-md-4 d-flex flex-wrap justify-content-end align-items-center">
        <div class="user-info m-3">
            Zalogowany jako: <strong th:text="${username}"></strong>
            <i class="fa-solid fa-user mx-1"></i>
        </div>

        <form class="mx-2" action="#" th:action="@{/logout}" method="POST">
            <button type="submit" value="Wyloguj się" class="btn btn-outline-danger">
                Wyloguj się
                <i class="fa-solid fa-right-from-bracket mx-2"></i>
            </button>
        </form>
    </div>


</nav>

<div class="container mt-2">
    <form action="#" th:action="@{/reservation/save}" th:object="${courtReservationDto}" method="post">
        <div th:id="toDeactivate" class="row d-flex justify-content-center align-items-center">
            <button  type="submit" id="submitBtn" class="btn btn-success mb-2">Dodaj</button>
            <div th:each="reservation, itemStat : *{reservations}" class="col-md-4">
                <div  class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title text-center" th:text="'Rezerwacja #' + ${itemStat.index + 1}"></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" th:field="*{reservations[__${itemStat.index}__].id}" />
                                <input type="hidden" th:field="*{reservations[__${itemStat.index}__].acceptedBy}">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="col-md-6 mb-2 text-center">
                                        <strong class="mr-2">Numer kortu:</strong>
                                        <input readonly="readonly" class="form-control flex-grow-1 text-center" type="text" th:field="*{reservations[__${itemStat.index}__].courtNumber}" />
                                    </div>
                                    <div class="col-md-6 mb-2 text-center">
                                        <strong class="mr-2">Data rezerwacji:</strong>
                                        <input readonly="readonly" class="form-control flex-grow-1 text-center" type="text" th:field="*{reservations[__${itemStat.index}__].reservationDate}" />
                                    </div>
                                    <div class="col-md-6 mb-2 text-center">
                                        <strong class="mr-2">Czas rozpoczęcia:</strong>
                                        <input readonly="readonly" class="form-control flex-grow-1 text-center" type="text" th:field="*{reservations[__${itemStat.index}__].timeStart}" />
                                    </div>
                                    <div class="col-md-6 mb-2 text-center">
                                        <strong class="mr-2">Czas zakończenia:</strong>
                                        <input readonly="readonly" class="form-control flex-grow-1 text-center" type="text" th:field="*{reservations[__${itemStat.index}__].timeEnd}" />
                                    </div>
                                    <div class="col-md-6 mb-2 text-center">
                                        <strong class="mr-2">Zniżka:</strong>
                                        <select class="form-control mr-2 text-center" th:field="*{reservations[__${itemStat.index}__].priceSchedule}">
                                            <option th:value="0" disabled selected>Wybierz zniżkę</option>
                                            <option th:each="price : ${priceSchedulesDto.priceSchedules}" th:value="${price.id}" th:text="${price.discountName}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-2 text-center">
                                        <div>
                                            <strong class="mr-2">Wlicz w rozliczenie:</strong>
                                        </div>
                                        <div class="mx-1">
                                            <input th:field="*{reservations[__${itemStat.index}__].validForFinanceSummary}" type="radio" class="form-check-input bg-light" id="valid" value="true">
                                            <label class="form-check-label" for="valid">Tak</label>
                                            <input th:field="*{reservations[__${itemStat.index}__].validForFinanceSummary}" type="radio" class="form-check-input bg-light" id="invalid" value="false">
                                            <label class="form-check-label" for="invalid">Nie</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-0 text-center">
                                        <strong class="mr-2">Wyszukaj:</strong>
                                        <input type="text" id="searchCustomer" class="form-control mr-2" placeholder="Wyszukaj klienta...">
                                    </div>
                                    <div class="col-md-6 mb-0 text-center">
                                        <strong class="mr-2">Klient:</strong>
                                        <select id="selectCustomer" class="form-control mr-2 text-center" th:field="*{reservations[__${itemStat.index}__].customer.id}">
                                            <option id="defaultValue" value="" selected>Wybierz klienta</option>
                                            <option th:each="customer : ${customerDto.customers}" th:value="${customer.id}" th:text="${customer.firstName} + ' ' + ${customer.lastName}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <div th:id="'alertDiv-' + ${itemStat.index}" class="alert alert-warning" style="padding:5px; margin-bottom: 0; display: none">
                                            Brak klienta
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <a th:id="'addCustomerBtn-' + ${itemStat.index}" class="btn btn-success w-100" style="display: none">Dodaj klienta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="data" th:data-enable-changes="${enableChanges}" hidden></div>


<script src="/js/updateTime.js"></script>
<script src="/js/handleCustomerSearchAndChoice.js"></script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        showMessage();
    });

    function showMessage() {
        let enableChanges = document.getElementById('data').getAttribute('data-enable-changes');

        enableChanges = (enableChanges === 'true');

        if (!enableChanges) {
            const card = document.getElementById("toDeactivate");
            card.classList.add('disabled');
            alert("Ups! Próbujesz dodać rezerwację dla minionego dnia. W celu korekcji przeszłych rezerwacji skontaktuj się z administratorem strony");
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var addCustomerBtns = document.querySelectorAll('[id^="addCustomerBtn"]');

        addCustomerBtns.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var currentUrl = new URL(window.location.href);
                var pathAfterDomain = currentUrl.pathname;
                var redirectTo = window.location.origin + '/customer/showFormForAdd?urlArgs=' + encodeURIComponent(currentUrl.search);
                window.location.href = redirectTo;
            });
        });
    });


</script>

</body>
</html>