<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
        <span th:each="reservation : ${reservations}">
            <span th:text="'data: ' + ${reservation.getReservationDate()}"></span><br>
            <span th:text="'start: ' + ${reservation.getTimeStart()}"></span><br>
            <span th:text="'koniec: ' +${reservation.getTimeEnd()}"></span><br>
            <span th:text="'kort: ' +${reservation.getCourtNumber()}"></span><br><br><br>
        </span>
</body>
</html>