<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje kortów</title>
    <link rel="stylesheet" href="/bootstrap-5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <div class="col-md-4 d-flex flex-wrap align-items-center">
        <a class="navbar-brand" style="padding-left: 15px" th:href="@{/}">
            <img width="60" height="100" src="/images/mzuk.png" alt="Logo">
        </a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courts}">Korty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/daySummary}">Roliczenie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/settings}">Ustawienia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/help}">Pomoc</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 d-flex flex-wrap align-items-center">
        <div class="navbar-text mx-auto">
            <a th:href="@{/}" class="text-decoration-none">
                <h1 id="current-date-time" class="display-4"></h1>
            </a>
        </div>
    </div>
    <div class="col-md-4 d-flex flex-wrap justify-content-end align-items-center">
        <div class="user-info m-3">
            Zalogowany jako: <strong th:text="${username}"></strong>
            <i class="fa-solid fa-user mx-1"></i>
        </div>

        <form class="mx-2" action="#" th:action="@{/logout}" method="POST">
            <button type="submit" value="Wyloguj się" class="btn btn-outline-danger">
                Wyloguj się
                <i class="fa-solid fa-right-from-bracket mx-2"></i>
            </button>
        </form>
    </div>


</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <h5>
                        Pomoc
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex align-items-stretch">
                            <div class="col-md-6 d-flex">
                                <div class="card mb-3">
                                    <div class="card-header text-center">
                                        <h5>Tworzenie rezerwacji</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mx-1">
                                            <ul>
                                                <li>W tabeli głównej zaznacz interesujące godziny</li>
                                                <li>Naciśnij przycisk "Dodaj"</li>
                                                <li>Uzupełnij szczegóły rezerwacji</li>
                                                <li>Wyszukaj klienta rezerwacji</li>
                                                <li>Jeśli klienta brakuje w bazie, program podpowie ci, aby utworzyć konto nowego użytkownika</li>
                                                <li>Po uzupełnieniu informacji, wciśnij "Dodaj"</li>
                                                <li><strong>Uwaga!</strong> Program wspiera dodawanie wielu rezerwacji jednocześnie</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex">
                                <div class="card mb-3">
                                    <div class="card-header text-center">
                                        <h5>Edycja rezerwacji</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mx-1">
                                            <ul>
                                                <li>W celu edycji istniejącej rezerwacji, wyszukaj ją w tabeli głównej. Upewnij się, że wybrana data jest poprawna</li>
                                                <li>Naciśnij na wybraną rezerwację</li>
                                                <li>Z prawej strony pojawią się możliwe opcje edycji rezerwacji</li>
                                                <li>W celu anulacji rezerawcji, naciśnij przycisk "Odwołaj rezerwację"</li>
                                                <li><strong>Uwaga!</strong> Możliwość tworzenia/edycji rezerwacji dla dat przeszłych została zablokowana</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-stretch">
                            <div class="col-md-6 d-flex">
                                <div class="card mb-3">
                                    <div class="card-header text-center">
                                        <h5>Opłata rezerwacji</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mx-1">
                                            <ul>
                                                <li>W celu opłacenia rezerwacji, wyszukaj wybraną rezerwację w tabeli głównej. Upewnij się, że wybrana data jest poprawna</li>
                                                <li>Naciśnij na wybraną rezerwację</li>
                                                <li>Wybierz metodę płatność: Gotówka/Karta</li>
                                                <li>W razie potrzeby: zmień należność, zmień zniżkę lub dolicz opłatę za oświetlenie</li>
                                                <li>Wciśnij przycisk "Opłać rezerwację"</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex">
                                <div class="card mb-3 w-100">
                                    <div class="card-header text-center">
                                        <h5>Korty</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mx-1">
                                            <ul>
                                                <li>Zakładka "Korty" umożliwia zarządznie obiektem ze względu na sprawność danego kortu</li>
                                                <li>Możliwość nadania kortowi statusu: "Zalany" / "Niesprawny"</li>
                                                <li>Jeśli któryś z kortów okaże się niesprawny, będzie o tym świadczyć wyszarzenie danego kortu w tabeli głównej</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-stretch">
                            <div class="col-md-4 d-flex">
                                <div class="card mb-3">
                                    <div class="card-header text-center">
                                        <h5>Podgląd kortów</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mx-1">
                                            <ul>
                                                <li>Zakładka "Podgląd kortów" umożliwia podgląd na żywo kortów wraz z obecnie trwającymi rezerwacjami</li>
                                                <li>Klikając na daną rezerwację można ujrzeć jej szczegóły</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex">
                                <div class="card mb-3">
                                    <div class="card-header text-center">
                                        <h5>Przyszłe rezerwacje</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mx-1">
                                            <ul>
                                                <li>Zakładka "Przyszłe rezerwacje" umożliwia podejrzanie jakie rezerwacje danego dnia będą jeszcze miały miejsce</li>
                                                <li>Klikając na daną rezerwację można ujrzeć jej szczegóły</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex">
                                <div class="card mb-3 w-100">
                                    <div class="card-header text-center">
                                        <h5>Ikony</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mx-1">
                                            <ul>
                                                <li><i class="fa fa-check"></i> - rezerwacja opłacona</li>
                                                <li><i class="fa fa-solid fa-credit-card"></i> - zapłata kartą</li>
                                                <li><i class="fa fa-solid fa-money-bill-1-wave"></i> - zapłata gotówką</li>
                                                <li><i class="fa fa-solid fa-hand-holding-dollar"></i> - rezerwacja niewliczona w podsumowanie dnia</li>
                                                <li><i class="fa fa-solid fa-cloud-showers-heavy"></i> - kort zalany</li>
                                                <li><i class="fa fa-solid fa-ban"></i> - kort niesprawny (pozostałe uniedogodnienia</li>
                                                <li><i class="fa-regular fa-calendar"></i> - wybór daty</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-header text-center">
                                    <h5>Zarządzanie klientami</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row mx-1">
                                        <ul>
                                            <li>W celu dodania/edycji lub usunięcia klienta, należy nacisnąć zakładkę "Zarządzenie klientami"</li>
                                            <li><strong>Uwaga!</strong> należy wyszukać klienta po nazwisku</li>
                                            <li>Po wyszukaniu użytkownika, można nanieść zmiany klikając odpowiednio "edytuj"/"usuń"</li>
                                            <li><strong>Uwaga!</strong> Usunięcie danego klienta spowoduje automatyczne usunięcie wszystkich jego rezerwacji w bazie danych</li>
                                            <li>Jeśli użytkownik nie został odnaleziony, możemy dodać nowego klienta za pomocą przycisku "Dodaj nowego klienta"</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-header text-center">
                                    <h5>Rozliczenie</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row mx-1">
                                        <ul>
                                            <li>Zakładka rozliczenie służy do podsumowanie danego dnia</li>
                                            <li>Liczby po lewej stronie odzwierciedlają stan kasy jaki powinien być ze względu na stan rezerwacji w tabeli głównej</li>
                                            <li>W środkowej cześci na koniec dnia, należy wpisać rzeczywisty stan kasy</li>
                                            <li>Liczby powinnny się zgadzać</li>
                                            <li>Po wpisaniu kwot, należy zapisać dzień obrachunkowy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/updateTime.js"></script>
</body>
</html>