<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Godziny od 8:00 do 16:00</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .navbar-custom {
            background-color: #f8f9fa;
        }
        .navbar-brand img {
            max-height: 40px;
        }
        .user-info {
            margin-left: auto;
        }
        /* Zwiększ czcionkę daty i godziny */
        #current-date-time {
            font-size: 24px;
        }
        .btn-cell {
            padding: 0;
            text-align: center;
            background-color: #ffcc15;
        }
        .clicked {
            background-color: orange;
            border-color: black;
            color: black;
        }
        #reservationTable {
            width: 100%; /* Ustawienie szerokości tabeli na 100% szerokości dostępnej przestrzeni */
            table-layout: fixed; /* Ustawienie stałej szerokości kolumn */
        }
        td{
            padding: 2px;
            position: relative;
        }
        .tile{
            position: absolute; top: 0; left: 0; right: 0; bottom: 5px; display: flex; align-items: center; justify-content: center;
            width: 100%;
        }


    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <a class="navbar-brand" href="#">
        <img src="your-image-path" alt="Logo">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 3</a>
        </li>
    </ul>

    <div class="navbar-text mx-auto">
        <h1 id="current-date-time"></h1>
    </div>

    <div class="user-info m-3">
        Zalogowany jako: <strong th:text="${username}"></strong>
    </div>

    <button class="btn btn-outline-danger mx-4">Wyloguj</button>
</nav>

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills nav-pills-vertical" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Rezerwacja kortów</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-md-12 d-flex w-100">
                                <button id="prev-day" class="btn btn-outline-primary w-100 mx-1">Poprzedni dzień</button>
                                <input type="date" id="date-picker" class="form-control w-100 mx-1">
                                <button id="next-day" class="btn btn-outline-primary w-100 mx-1">Następny dzień</button>
                                <a class="btn btn-outline-primary w-100 mx-1" href="#morning">Rano</a>
                                <a class="btn btn-outline-primary w-100 mx-1" href="#afternoon">Popołudnie</a>
                                <a class="btn btn-outline-primary w-100 mx-1" href="#evening">Wieczór</a>
                            </div>

                        </div>

                    </div>

                    <div class="table-container" style="overflow-y: auto; max-height: 70vh;">
                        <table id="reservationTable" class="table table-bordered table-striped">
                            <thead class="table-dark" style="position: sticky; top: 0;z-index: 1;">
                            <tr>
                                <th class="col-md-1"></th> <!-- Pusty nagłówek w pierwszej kolumnie -->
                                <th>Kort 1</th>
                                <th>Kort 2</th>
                                <th>Kort 3</th>
                                <th>Kort 4</th>
                                <th>Kort 5</th>
                            </tr>
                            </thead>
                            <tbody>
                                    <tr id="morning">
                                        <td>8:00</td>
                                        <td id="08:00court1" rowspan="2">
                                            <a href="#" class="btn btn-warning tile"></a>
                                        </td>
                                        <td id="08:00court2"></td>
                                        <td id="08:00court3"></td>
                                        <td id="08:00court4"></td>
                                        <td id="08:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>8:30</td>
<!--                                        <td id="08:30court1"></td>-->
                                        <td id="08:30court2" rowspan="2">
                                            <a href="#" class="btn btn-warning tile"></a>
                                        </td>
                                        <td id="08:30court3"></td>
                                        <td id="08:30court4"></td>
                                        <td id="08:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>9:00</td>
                                        <td id="09:00court1"></td>
<!--                                        <td id="09:00court2"></td>-->
                                        <td id="09:00court3"></td>
                                        <td id="09:00court4"></td>
                                        <td id="09:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>9:30</td>
                                        <td id="09:30court1"></td>
                                        <td id="09:30court2"></td>
                                        <td id="09:30court3"></td>
                                        <td id="09:30court4"></td>
                                        <td id="09:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>10:00</td>
                                        <td id="10:00court1"></td>
                                        <td id="10:00court2"></td>
                                        <td id="10:00court3"></td>
                                        <td id="10:00court4"></td>
                                        <td id="10:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>10:30</td>
                                        <td id="10:30court1"></td>
                                        <td id="10:30court2"></td>
                                        <td id="10:30court3"></td>
                                        <td id="10:30court4"></td>
                                        <td id="10:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>11:00</td>
                                        <td id="11:00court1"></td>
                                        <td id="11:00court2"></td>
                                        <td id="11:00court3"></td>
                                        <td id="11:00court4"></td>
                                        <td id="11:00court5"></td>
                                    </tr>
                                    <tr id="afternoon">
                                        <td>11:30</td>
                                        <td id="11:30court1"></td>
                                        <td id="11:30court2"></td>
                                        <td id="11:30court3"></td>
                                        <td id="11:30court4"></td>
                                        <td id="11:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>12:00</td>
                                        <td id="12:00court1"></td>
                                        <td id="12:00court2"></td>
                                        <td id="12:00court3"></td>
                                        <td id="12:00court4"></td>
                                        <td id="12:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>12:30</td>
                                        <td id="12:30court1"></td>
                                        <td id="12:30court2"></td>
                                        <td id="12:30court3"></td>
                                        <td id="12:30court4"></td>
                                        <td id="12:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>13:00</td>
                                        <td id="13:00court1"></td>
                                        <td id="13:00court2"></td>
                                        <td id="13:00court3"></td>
                                        <td id="13:00court4"></td>
                                        <td id="13:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>13:30</td>
                                        <td id="13:30court1"></td>
                                        <td id="13:30court2"></td>
                                        <td id="13:30court3"></td>
                                        <td id="13:30court4"></td>
                                        <td id="13:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>14:00</td>
                                        <td id="14:00court1"></td>
                                        <td id="14:00court2"></td>
                                        <td id="14:00court3"></td>
                                        <td id="14:00court4"></td>
                                        <td id="14:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>14:30</td>
                                        <td id="14:30court1"></td>
                                        <td id="14:30court2"></td>
                                        <td id="14:30court3"></td>
                                        <td id="14:30court4"></td>
                                        <td id="14:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>15:00</td>
                                        <td id="15:00court1"></td>
                                        <td id="15:00court2"></td>
                                        <td id="15:00court3"></td>
                                        <td id="15:00court4"></td>
                                        <td id="15:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>15:30</td>
                                        <td id="15:30court1"></td>
                                        <td id="15:30court2"></td>
                                        <td id="15:30court3"></td>
                                        <td id="15:30court4"></td>
                                        <td id="15:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>16:00</td>
                                        <td id="16:00court1"></td>
                                        <td id="16:00court2"></td>
                                        <td id="16:00court3"></td>
                                        <td id="16:00court4"></td>
                                        <td id="16:00court5"></td>
                                    </tr>
                                    <tr id="evening">
                                        <td>16:30</td>
                                        <td id="16:30court1"></td>
                                        <td id="16:30court2"></td>
                                        <td id="16:30court3"></td>
                                        <td id="16:30court4"></td>
                                        <td id="16:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>17:00</td>
                                        <td id="17:00court1"></td>
                                        <td id="17:00court2"></td>
                                        <td id="17:00court3"></td>
                                        <td id="17:00court4"></td>
                                        <td id="17:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>17:30</td>
                                        <td id="17:30court1"></td>
                                        <td id="17:30court2"></td>
                                        <td id="17:30court3"></td>
                                        <td id="17:30court4"></td>
                                        <td id="17:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>18:00</td>
                                        <td id="18:00court1"></td>
                                        <td id="18:00court2"></td>
                                        <td id="18:00court3"></td>
                                        <td id="18:00court4"></td>
                                        <td id="18:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>18:30</td>
                                        <td id="18:30court1"></td>
                                        <td id="18:30court2"></td>
                                        <td id="18:30court3"></td>
                                        <td id="18:30court4"></td>
                                        <td id="18:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>19:00</td>
                                        <td id="19:00court1"></td>
                                        <td id="19:00court2"></td>
                                        <td id="19:00court3"></td>
                                        <td id="19:00court4"></td>
                                        <td id="19:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>19:30</td>
                                        <td id="19:30court1"></td>
                                        <td id="19:30court2"></td>
                                        <td id="19:30court3"></td>
                                        <td id="19:30court4"></td>
                                        <td id="19:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>20:00</td>
                                        <td id="20:00court1"></td>
                                        <td id="20:00court2"></td>
                                        <td id="20:00court3"></td>
                                        <td id="20:00court4"></td>
                                        <td id="20:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>20:30</td>
                                        <td id="20:30court1"></td>
                                        <td id="20:30court2"></td>
                                        <td id="20:30court3"></td>
                                        <td id="20:30court4"></td>
                                        <td id="20:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>21:00</td>
                                        <td id="21:00court1"></td>
                                        <td id="21:00court2"></td>
                                        <td id="21:00court3"></td>
                                        <td id="21:00court4"></td>
                                        <td id="21:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>21:30</td>
                                        <td id="21:30court1"></td>
                                        <td id="21:30court2"></td>
                                        <td id="21:30court3"></td>
                                        <td id="21:30court4"></td>
                                        <td id="21:30court5"></td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1>Profile Content</h1>
                    <p>This is the content for Profile tab.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h1>Messages Content</h1>
                    <p>This is the content for Messages tab.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <h1>Settings Content</h1>
                    <p>This is the content for Settings tab.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!--<script src="/js/createTable.js"></script>-->
<!--<script src="/js/fillUpTable.js"></script>-->
<script src="/js/updateTime.js"></script>
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--        const buttons = document.querySelectorAll('.btn-cell button');-->

<!--        buttons.forEach(button => {-->
<!--            button.addEventListener('click', function() {-->
<!--                if (this.classList.contains('clicked')) {-->
<!--                    this.classList.remove('clicked');-->
<!--                } else {-->
<!--                    buttons.forEach(btn => btn.classList.remove('clicked'));-->
<!--                    this.classList.add('clicked');-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
<script th:inline="javascript">
    class Customer {
        constructor(id, firstName, lastName, phone) {
            this.id = id;
            this.firstName = firstName;
            this.lastName = lastName;
            this.phone = phone;
        }
    }

    class Reservation {
        constructor(id, courtNumber, reservationDate, timeStart, timeEnd, duration, priceSchedule, totalPrice, comments, reservationMadeTimestamp, paid, doublesMatch, customer) {
            this.id = id;
            this.courtNumber = courtNumber;
            this.reservationDate = reservationDate;
            this.timeStart = timeStart;
            this.timeEnd = timeEnd;
            this.duration = duration;
            this.priceSchedule = priceSchedule;
            this.totalPrice = totalPrice;
            this.comments = comments;
            this.reservationMadeTimestamp = reservationMadeTimestamp;
            this.paid = paid;
            this.doublesMatch = doublesMatch;
            this.customer = new Customer(
                customer.id,
                customer.firstName,
                customer.lastName,
                customer.phone
            );
        }
    }

    const reservations = /*[[${reservations}]]*/ [];

    function createReservationObjects() {
        const reservationObjects = [];

        reservations.forEach(function(reservation) {
            const customer = reservation.customer;
            const newCustomer = new Customer(
                customer.id,
                customer.firstName,
                customer.lastName,
                customer.phone
            );

            const newReservation = new Reservation(
                reservation.id,
                reservation.courtNumber,
                reservation.reservationDate,
                reservation.timeStart,
                reservation.timeEnd,
                reservation.duration,
                reservation.priceSchedule,
                reservation.totalPrice,
                reservation.comments,
                reservation.reservationMadeTimestamp,
                reservation.paid,
                reservation.doublesMatch,
                newCustomer
            );

            reservationObjects.push(newReservation);
        });

        // Zwróć utworzone obiekty rezerwacji
        return reservationObjects;
    }

    let jsReservations = createReservationObjects();

    function fillUpTheTable(reservations){
        reservations.forEach(reservation=>{
            console.log(reservation);

            const timeStartId = reservation.timeStart.slice(0,5)+'court'+reservation.courtNumber;
            const td = document.getElementById(timeStartId);
            const numberOfRowsToSpan = reservation.duration / 30;

            for (let i = 0; i < numberOfRowsToSpan; i++) {
                const [hours, minutes] = reservation.timeStart.split(':');
                const [year,month,day] = reservation.reservationDate.split('-');
                const timeStart = new Date(year, month, day, hours, minutes);

                const currentCellTime = new Date(timeStart.getTime() + (i * 30 * 60 * 1000));
                const currentCellId = `${currentCellTime.getHours().toString().padStart(2, '0')}:${currentCellTime.getMinutes().toString().padStart(2, '0')}court${reservation.courtNumber}`;
                const currentCell = document.getElementById(currentCellId);

                if (i === 0) {
                    currentCell.setAttribute('rowspan', numberOfRowsToSpan);
                } else {
                    currentCell.remove();
                }
            }

            const tile = document.createElement('a');
            tile.setAttribute('href', '#');
            tile.classList.add('btn', 'btn-warning', 'tile');
            tile.textContent = reservation.customer.firstName+' ' + reservation.customer.lastName;

            td.appendChild(tile);

        })
    }
    fillUpTheTable(jsReservations);

</script>
</body>
</html>



