<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje kortów</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .navbar-custom {
            background-color: #f8f9fa;
        }
        .navbar-brand img {
            max-height: 40px;
        }
        .user-info {
            margin-left: auto;
        }
        /* Zwiększ czcionkę daty i godziny */
        #current-date-time {
            font-size: 24px;
        }
        .btn-cell {
            padding: 0;
            text-align: center;
            background-color: #ffcc15;
        }
        .clicked {
            background-color: orange;
            border-color: black;
            color: black;
        }
        #reservationTable {
            width: 100%; /* Ustawienie szerokości tabeli na 100% szerokości dostępnej przestrzeni */
            table-layout: fixed; /* Ustawienie stałej szerokości kolumn */
        }
        td{
            padding: 2px;
            position: relative;
        }
        .tile{
            position: absolute; top: 0; left: 0; right: 0; bottom: 2px; display: flex; align-items: center; justify-content: center;
            width: 100%;
        }
        .clicked {
            outline: none;
            border: 1px solid transparent;
        }


    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <a class="navbar-brand" style="padding-left: 15px" th:href="@{/}">
        <img width="60" height="100" src="/images/mzuk.png" alt="Logo">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 3</a>
        </li>
    </ul>

    <div class="navbar-text mx-auto">
        <a th:href="@{/}" class="text-decoration-none">
            <h1 id="current-date-time" class="display-4"></h1>
        </a>
    </div>


    <div class="user-info m-3">
        Zalogowany jako: <strong th:text="${username}"></strong>
    </div>

    <form class="mx-4" action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Wyloguj się" class="btn btn-outline-danger">
    </form>
</nav>

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills nav-pills-vertical" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="courtReservationsTab" data-toggle="pill" href="#courtReservations" role="tab" aria-controls="courtReservations" aria-selected="true">Rezerwacje kortów</a>
                <a class="nav-link" id="upcomingReservationTab" data-toggle="pill" href="#upComingReservations" role="tab" aria-controls="upcomingReservations" aria-selected="false">Przyszłe rezerwacje</a>
                <a class="nav-link" id="courtPreviewTab" data-toggle="pill" href="#courtPreview" role="tab" aria-controls="courtPreview" aria-selected="false">Podgląd kortów</a>
                <a class="nav-link" id="daySummaryTab" data-toggle="pill" href="#daySummary" role="tab" aria-controls="daySummary" aria-selected="false">Podsumowanie dnia</a>
                <a class="nav-link" id="settingsAndHelpTab" data-toggle="pill" href="#settingsAndHelp" role="tab" aria-controls="settingsAndHelp" aria-selected="false">Ustawienia i pomoc</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="courtReservations" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                                        <div class="d-flex flex-grow-1">
                                            <h4 class="mr-3 w-100" th:text="${dayOfWeek.toUpperCase()}"></h4>
                                            <h4 class="w-100" th:text="${date}"></h4>
                                            <input type="date" id="date-picker" class="form-control mx-1 w-100" >
                                        </div>
                                        <div class="d-flex flex-grow-1 justify-content-center">
                                            <a class="btn btn-outline-primary mx-1 w-100" href="#morning">Rano</a>
                                            <a class="btn btn-outline-primary mx-1 w-100" href="#afternoon">Popołudnie</a>
                                            <a class="btn btn-outline-primary mx-1 w-100" href="#evening">Wieczór</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="table-container" style="overflow-y: auto; max-height: 70vh;">
                        <table id="reservationTable" class="table table-bordered table-striped">
                            <thead class="table-dark" style="position: sticky; top: -1px;z-index: 1; height: 50px">
                            <tr>
                                <th class="col-md-1 align-middle text-center">
                                    <div class="flex-fill w-100">
                                        <a id="addReservationBtn" class="btn btn-sm btn-success" style="display: none">Dodaj</a>
                                    </div>
                                </th>
                                <th class="align-middle text-center">Kort 1</th>
                                <th class="align-middle text-center">Kort 2</th>
                                <th class="align-middle text-center">Kort 3</th>
                                <th class="align-middle text-center">Kort 4</th>
                                <th class="align-middle text-center">Kort 5</th>
                            </tr>
                            </thead>
                            <tbody>
                                    <tr id="morning">
                                        <td>8:00</td>
                                        <td id="08:00court1"></td>
                                        <td id="08:00court2"></td>
                                        <td id="08:00court3"></td>
                                        <td id="08:00court4"></td>
                                        <td id="08:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>8:30</td>
                                        <td id="08:30court1"></td>
                                        <td id="08:30court2"></td>
                                        <td id="08:30court3"></td>
                                        <td id="08:30court4"></td>
                                        <td id="08:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>9:00</td>
                                        <td id="09:00court1"></td>
                                        <td id="09:00court2"></td>
                                        <td id="09:00court3"></td>
                                        <td id="09:00court4"></td>
                                        <td id="09:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>9:30</td>
                                        <td id="09:30court1"></td>
                                        <td id="09:30court2"></td>
                                        <td id="09:30court3"></td>
                                        <td id="09:30court4"></td>
                                        <td id="09:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>10:00</td>
                                        <td id="10:00court1"></td>
                                        <td id="10:00court2"></td>
                                        <td id="10:00court3"></td>
                                        <td id="10:00court4"></td>
                                        <td id="10:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>10:30</td>
                                        <td id="10:30court1"></td>
                                        <td id="10:30court2"></td>
                                        <td id="10:30court3"></td>
                                        <td id="10:30court4"></td>
                                        <td id="10:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>11:00</td>
                                        <td id="11:00court1"></td>
                                        <td id="11:00court2"></td>
                                        <td id="11:00court3"></td>
                                        <td id="11:00court4"></td>
                                        <td id="11:00court5"></td>
                                    </tr>
                                    <tr id="afternoon">
                                        <td>11:30</td>
                                        <td id="11:30court1"></td>
                                        <td id="11:30court2"></td>
                                        <td id="11:30court3"></td>
                                        <td id="11:30court4"></td>
                                        <td id="11:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>12:00</td>
                                        <td id="12:00court1"></td>
                                        <td id="12:00court2"></td>
                                        <td id="12:00court3"></td>
                                        <td id="12:00court4"></td>
                                        <td id="12:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>12:30</td>
                                        <td id="12:30court1"></td>
                                        <td id="12:30court2"></td>
                                        <td id="12:30court3"></td>
                                        <td id="12:30court4"></td>
                                        <td id="12:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>13:00</td>
                                        <td id="13:00court1"></td>
                                        <td id="13:00court2"></td>
                                        <td id="13:00court3"></td>
                                        <td id="13:00court4"></td>
                                        <td id="13:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>13:30</td>
                                        <td id="13:30court1"></td>
                                        <td id="13:30court2"></td>
                                        <td id="13:30court3"></td>
                                        <td id="13:30court4"></td>
                                        <td id="13:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>14:00</td>
                                        <td id="14:00court1"></td>
                                        <td id="14:00court2"></td>
                                        <td id="14:00court3"></td>
                                        <td id="14:00court4"></td>
                                        <td id="14:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>14:30</td>
                                        <td id="14:30court1"></td>
                                        <td id="14:30court2"></td>
                                        <td id="14:30court3"></td>
                                        <td id="14:30court4"></td>
                                        <td id="14:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>15:00</td>
                                        <td id="15:00court1"></td>
                                        <td id="15:00court2"></td>
                                        <td id="15:00court3"></td>
                                        <td id="15:00court4"></td>
                                        <td id="15:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>15:30</td>
                                        <td id="15:30court1"></td>
                                        <td id="15:30court2"></td>
                                        <td id="15:30court3"></td>
                                        <td id="15:30court4"></td>
                                        <td id="15:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>16:00</td>
                                        <td id="16:00court1"></td>
                                        <td id="16:00court2"></td>
                                        <td id="16:00court3"></td>
                                        <td id="16:00court4"></td>
                                        <td id="16:00court5"></td>
                                    </tr>
                                    <tr id="evening">
                                        <td>16:30</td>
                                        <td id="16:30court1"></td>
                                        <td id="16:30court2"></td>
                                        <td id="16:30court3"></td>
                                        <td id="16:30court4"></td>
                                        <td id="16:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>17:00</td>
                                        <td id="17:00court1"></td>
                                        <td id="17:00court2"></td>
                                        <td id="17:00court3"></td>
                                        <td id="17:00court4"></td>
                                        <td id="17:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>17:30</td>
                                        <td id="17:30court1"></td>
                                        <td id="17:30court2"></td>
                                        <td id="17:30court3"></td>
                                        <td id="17:30court4"></td>
                                        <td id="17:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>18:00</td>
                                        <td id="18:00court1"></td>
                                        <td id="18:00court2"></td>
                                        <td id="18:00court3"></td>
                                        <td id="18:00court4"></td>
                                        <td id="18:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>18:30</td>
                                        <td id="18:30court1"></td>
                                        <td id="18:30court2"></td>
                                        <td id="18:30court3"></td>
                                        <td id="18:30court4"></td>
                                        <td id="18:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>19:00</td>
                                        <td id="19:00court1"></td>
                                        <td id="19:00court2"></td>
                                        <td id="19:00court3"></td>
                                        <td id="19:00court4"></td>
                                        <td id="19:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>19:30</td>
                                        <td id="19:30court1"></td>
                                        <td id="19:30court2"></td>
                                        <td id="19:30court3"></td>
                                        <td id="19:30court4"></td>
                                        <td id="19:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>20:00</td>
                                        <td id="20:00court1"></td>
                                        <td id="20:00court2"></td>
                                        <td id="20:00court3"></td>
                                        <td id="20:00court4"></td>
                                        <td id="20:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>20:30</td>
                                        <td id="20:30court1"></td>
                                        <td id="20:30court2"></td>
                                        <td id="20:30court3"></td>
                                        <td id="20:30court4"></td>
                                        <td id="20:30court5"></td>
                                    </tr>
                                    <tr>
                                        <td>21:00</td>
                                        <td id="21:00court1"></td>
                                        <td id="21:00court2"></td>
                                        <td id="21:00court3"></td>
                                        <td id="21:00court4"></td>
                                        <td id="21:00court5"></td>
                                    </tr>
                                    <tr>
                                        <td>21:30</td>
                                        <td id="21:30court1"></td>
                                        <td id="21:30court2"></td>
                                        <td id="21:30court3"></td>
                                        <td id="21:30court4"></td>
                                        <td id="21:30court5"></td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="upComingReservations" role="tabpanel" aria-labelledby="upcomingReservationTab">
                    <h1>Upcoming reservations Content</h1>
                    <p>This is the content for Profile tab.</p>
                </div>
                <div class="tab-pane fade" id="courtPreview" role="tabpanel" aria-labelledby="courtPreviewTab">
                    <h1>Podgląd kortów na żywo //under construction</h1>
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h5 class="card-title">Kort 1</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="mb-2"><strong>Klient:</strong> hello</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h5 class="card-title">Kort 2</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="mb-2"><strong>Klient:</strong> hello</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h5 class="card-title">Kort 3</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="mb-2"><strong>Klient:</strong> hello</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h5 class="card-title">Kort 4</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="mb-2"><strong>Klient:</strong> hello</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h5 class="card-title">Kort 5</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="mb-2"><strong>Klient:</strong> hello</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="daySummary" role="tabpanel" aria-labelledby="daySummaryTab">
                    <h1>Day Summary Content</h1>
                    <p>This is the content for Messages tab.</p>
                </div>
                <div class="tab-pane fade" id="settingsAndHelp" role="tabpanel" aria-labelledby="settingsAndHelpTab">
                    <h1>Settings Content</h1>
                    <p>This is the content for Settings tab.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-expand-lg navbar-light bg-primary bg-light fixed-bottom navbar-custom">
        <p>
            Przykładowy tekst paska dolnego
        </p>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/js/updateTime.js"></script>
<script src="/js/updateSelectedDate.js"></script>
<script th:inline="javascript">
    // funkcja dodajace kafelki rezerwacji z db
    class Customer {
        constructor(id, firstName, lastName, phone) {
            this.id = id;
            this.firstName = firstName;
            this.lastName = lastName;
            this.phone = phone;
        }
    }

    class Reservation {
        constructor(id, courtNumber, reservationDate, timeStart, timeEnd, duration, priceSchedule, totalPrice, comments, reservationMadeTimestamp, paid, doublesMatch, customer, isCash, acceptedBy, acceptedAt) {
            this.id = id;
            this.courtNumber = courtNumber;
            this.reservationDate = reservationDate;
            this.timeStart = timeStart;
            this.timeEnd = timeEnd;
            this.duration = duration;
            this.priceSchedule = priceSchedule;
            this.totalPrice = totalPrice;
            this.comments = comments;
            this.reservationMadeTimestamp = reservationMadeTimestamp;
            this.paid = paid;
            this.doublesMatch = doublesMatch;
            this.customer = new Customer(
                customer.id,
                customer.firstName,
                customer.lastName,
                customer.phone
            );
            this.isCash = isCash;
            this.acceptedBy = acceptedBy;
            this.acceptedAt = acceptedAt;
        }
    }


    const reservations = /*[[${reservations}]]*/ [];

    function createReservationObjects() {
        const reservationObjects = [];

        reservations.forEach(function(reservation) {
            const customer = reservation.customer;
            const newCustomer = new Customer(
                customer.id,
                customer.firstName,
                customer.lastName,
                customer.phone
            );

            const newReservation = new Reservation(
                reservation.id,
                reservation.courtNumber,
                reservation.reservationDate,
                reservation.timeStart,
                reservation.timeEnd,
                reservation.duration,
                reservation.priceSchedule,
                reservation.totalPrice,
                reservation.comments,
                reservation.reservationMadeTimestamp,
                reservation.paid,
                reservation.doublesMatch,
                newCustomer,
                reservation.isCash,  // Dodaj isCash
                reservation.acceptedBy,  // Dodaj acceptedBy
                reservation.acceptedAt  // Dodaj acceptedAt
            );

            reservationObjects.push(newReservation);
        });

        return reservationObjects;
    }


    let jsReservations = createReservationObjects();

    function fillUpTheTable(reservations){
        reservations.forEach(reservation=>{
            const timeStartId = reservation.timeStart.slice(0,5)+'court'+reservation.courtNumber;
            const td = document.getElementById(timeStartId);
            const numberOfRowsToSpan = reservation.duration / 30;

            for (let i = 0; i < numberOfRowsToSpan; i++) {
                const [hours, minutes] = reservation.timeStart.split(':');
                const [year,month,day] = reservation.reservationDate.split('-');
                const timeStart = new Date(year, month, day, hours, minutes);

                const currentCellTime = new Date(timeStart.getTime() + (i * 30 * 60 * 1000));
                const currentCellId = `${currentCellTime.getHours().toString().padStart(2, '0')}:${currentCellTime.getMinutes().toString().padStart(2, '0')}court${reservation.courtNumber}`;
                const currentCell = document.getElementById(currentCellId);

                if(currentCell){
                    if (i === 0) {
                        currentCell.setAttribute('rowspan', numberOfRowsToSpan);
                    } else {
                        currentCell.remove();
                    }
                }
            }

            const tile = document.createElement('a');
            tile.classList.add('btn', 'btn-success', 'tile');
            tile.setAttribute('style', 'white-space: pre;');
            tile.textContent = reservation.customer.firstName+ ' ' + reservation.customer.lastName + '\r\n'
            + reservation.timeStart.slice(0,5) + ' - ' + reservation.timeEnd.slice(0,5);
            const reservationURL = `/reservation?id=${reservation.id}`;
            tile.setAttribute('href', reservationURL);


            td.appendChild(tile);

        })
    }
    fillUpTheTable(jsReservations);

</script>
<script th:inline="javascript">
    //funkcja dodajaca mozliwosc zaznaczaia kafelek bez rezerwacji
    function countSelectedTiles() {
        const selectedTiles = document.querySelectorAll('.clicked').length;
        return selectedTiles;
    }
    function fillRemainingSlots() {
        const addReservationBtn = document.getElementById('addReservationBtn');
        const table = document.getElementById('reservationTable');
        const rows = table.getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            for (let j = 1; j < cells.length; j++) { // Rozpocznij od 1, pomijając pierwszą kolumnę z godzinami
                const cell = cells[j];
                if (cell.innerHTML.trim() === '') { // Sprawdź czy komórka jest pusta
                    cell.addEventListener('mouseover', function() {
                        if (!cell.classList.contains('clicked')) { // Zaznacz tylko jeśli nie jest już zaznaczona
                            cell.style.backgroundColor = '#dcffd8'; // Zmiana koloru w momencie najechania
                        }
                    });

                    cell.addEventListener('mouseout', function() {
                        if (!cell.classList.contains('clicked')) {
                            cell.style.backgroundColor = ''; // Usunięcie koloru po opuszczeniu komórki
                        }
                    });

                    cell.addEventListener('click', function() {
                        if (!cell.classList.contains('clicked')) {
                            cell.classList.add('clicked'); // Dodanie klasy po kliknięciu, oznaczającej, że komórka została zaznaczona
                            //cell.style.backgroundColor = 'orange'; // Zmiana koloru po kliknięciu
                            const tile = document.createElement('a');
                            tile.classList.add('btn', 'btn-success', 'tile');
                            tile.setAttribute('style', 'white-space: pre;');
                            cell.appendChild(tile);
                        } else {
                            cell.classList.remove('clicked'); // Usunięcie klasy i przywrócenie pierwotnego koloru po ponownym kliknięciu
                            //cell.style.backgroundColor = '';
                            const lastChild = cell.lastElementChild;
                            if(lastChild){
                                cell.removeChild(lastChild);
                            }
                        }
                        const selectedTiles = countSelectedTiles();
                        console.log('Liczba zaznaczonych kafelków: ', selectedTiles);
                        if (selectedTiles > 0) {
                            addReservationBtn.style.display = 'block';
                        } else {
                            addReservationBtn.style.display = 'none';
                        }
                    });
                }
            }
        }
    }

    fillRemainingSlots();




    document.getElementById('addReservationBtn').addEventListener('click', function() {
        const selectedTiles = countSelectedTiles();
        if(selectedTiles > 0){
            window.location.href = `/addReservation?startTime=HELLOOOO`;
        }
        else{
            window.location.href = `/addReservation?startTime=NIC`;
        }
    });

</script>

</body>
</html>



