<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje kortów</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style></style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <div class="col-md-4 d-flex flex-wrap align-items-center">
        <a class="navbar-brand" style="padding-left: 15px" th:href="@{/}">
            <img width="60" height="100" src="/images/mzuk.png" alt="Logo">
        </a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courts}">Korty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/daySummary}">Roliczenie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/settings}">Ustawienia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/help}">Pomoc</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 d-flex flex-wrap align-items-center">
        <div class="navbar-text mx-auto">
            <a th:href="@{/}" class="text-decoration-none">
                <h1 id="current-date-time" class="display-4"></h1>
            </a>
        </div>
    </div>
    <div class="col-md-4 d-flex flex-wrap justify-content-end align-items-center">
        <div class="user-info m-3">
            Zalogowany jako: <strong th:text="${username}"></strong>
            <i class="fa-solid fa-user mx-1"></i>
        </div>

        <form class="mx-2" action="#" th:action="@{/logout}" method="POST">
            <button type="submit" value="Wyloguj się" class="btn btn-outline-danger">
                Wyloguj się
                <i class="fa-solid fa-right-from-bracket mx-2"></i>
            </button>
        </form>
    </div>


</nav>

<div class="container mt-2">
    <div th:id="toDeactivate" class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Szczegóły rezerwacji</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="mb-2"><strong>Klient:</strong> <span th:text="${reservation.customer.firstName} + ' ' + ${reservation.customer.lastName}"></span></p>
                            <p class="mb-2"><strong>Data:</strong> <span th:text="${reservation.reservationDate}"></span></p>
                            <p class="mb-2"><strong>Dzień tygodnia:</strong>
                                <span th:if="${!isHoliday}"><span th:text="${dayOfWeek}"></span></span>
                                <span th:if="${isHoliday}"><span th:text="${dayOfWeek} + ' (Święto)'"></span></span>
                            </p>
                            <p class="mb-2"><strong>Numer kortu:</strong> <span th:text="${reservation.courtNumber}"></span></p>
                            <p class="mb-2"><strong>Godzina rozpoczęcia:</strong> <span th:text="${reservation.timeStart}"></span></p>
                            <p class="mb-2"><strong>Godzina zakończenia:</strong> <span th:text="${reservation.timeEnd}"></span></p>
                            <p class="mb-2"><strong>Całkowity czas trwania:</strong> <span th:text="${reservation.convertMinutesToHoursAndMinutes(reservation.duration)}"></span></p>
                            <p class="mb-2"><strong>Czas przyjęcia rezerwacji:</strong> <span th:text="${reservation.acceptedAt}"></span></p>
                            <p class="mb-2"><strong>Rezerwacja przyjęta przez:</strong> <span th:text="${reservation.getAcceptedBy()}"></span></p>
                            <p class="mb-2"><strong>Komentarz:</strong>
                                <span th:if="${reservation.getComments()}!=null" th:text="${reservation.getComments()}"></span>
                                <span th:if="${reservation.getComments() == null or reservation.getComments().trim().isEmpty()}" th:text="Brak"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Płatność</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="mb-2"><strong>Czy opłacono:</strong>
                                <span th:if="${reservation.isPaid()}">
                                    <span>Tak</span>
                                </span>
                                <span th:if="${!reservation.isPaid()}">
                                    <span>Nie</span>
                                </span>
                            </p>
                            <p class="mb-2"><strong>Należność:</strong> <span th:text="${reservation.totalPrice} + ' PLN'"></span></p>
                            <p class="mb-2"><strong>Rodzaj płatności:</strong>
                                <span th:if="${reservation.isCash()==null}">
                                    <span>Nie określono</span>
                                </span>
                                <span th:if="${reservation.isCash()!=null}">
                                    <span th:if="${reservation.isCash()}">
                                        <span>Gotówka</span>
                                    </span>
                                    <span th:if="${!reservation.isCash()}">
                                        <span>Karta</span>
                                    </span>
                                </span>
                            </p>
                            <p class="mb-2"><strong>Zniżka:</strong> <span th:text="${reservation.getDiscountNameForHTML()}"></span></p>
                            <p class="mb-2"><strong>Cennik deblowy:</strong>
                                <span th:if="${reservation.isDoublesMatch()}">
                                    <span>Tak</span>
                                </span>
                                <span th:if="${!reservation.isDoublesMatch()}">
                                    <span>Nie</span>
                                </span>
                            </p>
                            <p class="mb-2"><strong>Wliczono w rozliczenie:</strong>
                                <span th:if="${reservation.validForFinanceSummary}">
                                    Tak
                                </span>
                                <span th:if="${!reservation.validForFinanceSummary}">
                                    Nie
                                </span>
                            </p>

                            <p class="mb-2"><strong>Stawka:</strong> <span th:text="${reservation.getPricePerHourForHTML(priceSchedule)}"></span></p>
                            <p class="mb-2"><strong>Oświetlenie:</strong> <span th:text="${reservation.lightTotal} + ' PLN'"></span></p>


                            <form th:action="@{/reservation/updateLightTotal}" method="POST" class="d-flex align-items-center mt-3">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <div class="col-md-6">
                                    <input type="number" name="lightTotal" id="lightTotal" class="form-control mr-2" placeholder="Opłata za światło" step="any" required>
                                </div>
                                <div class="col-md-6">
                                    <button id="submitLightTotalBtn" type="submit" class="btn btn-outline-success w-100" disabled>Dodał kwotę</button>
                                </div>
                            </form>

                            <form th:action="@{/reservation/updateIsPaid}" method="post" class="mt-4">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <input type="hidden" name="isPaid" th:value="${reservation.isPaid()}">
                                <th:block th:if="${enableChanges}">
                                    <button th:if="${!reservation.isPaid()}" type="submit" id="submitToPayBtn" class="btn btn-outline-success w-100">Opłać</button>
                                    <button th:if="${reservation.isPaid()}" type="submit" id="submitToUnpayBtn" class="btn btn-outline-danger w-100">Wycofaj zapłatę</button>
                                </th:block>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Akcja</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form th:action="@{/reservation/updatePayment}" method="POST" class="d-flex align-items-center">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <div class="col-sm-6">
                                    <input type="radio" class="form-check-input bg-light" name="payment" id="cash" value="cash">
                                    <label class="form-check-label" for="cash">Gotówka</label>
                                    <span class="m-2">
                                        <input type="radio" class="form-check-input bg-light" name="payment" id="card" value="card">
                                        <label class="form-check-label" for="card">Karta</label>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <button id="submitPaymentBtn" type="submit" class="btn btn-primary flex-fill w-100" disabled>Zmień płatność</button>
                                </div>
                            </form>
                            <form th:action="@{/reservation/updateIsValidForSummary}" method="POST" class="d-flex align-items-center mt-3">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <div class="col-sm-6">
                                    <input type="radio" class="form-check-input bg-light" name="isValidForSummary" id="valid" value="true">
                                    <label class="form-check-label" for="valid">Tak</label>
                                    <span class="m-2">
                                        <input type="radio" class="form-check-input bg-light" name="isValidForSummary" id="invalid" value="false">
                                        <label class="form-check-label" for="invalid">Nie</label>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <button id="submitValidForSummaryBtn" type="submit" class="btn btn-primary flex-fill w-100" disabled>Wlicz w podsum.</button>
                                </div>
                            </form>
                            <form th:action="@{/reservation/updateDiscount}" method="POST" class="mt-3">
                                <select name="discount" id="discount" class="form-control mr-2">
                                    <option th:value="0" disabled selected>Wybierz zniżkę</option>
                                    <option th:each="discount : ${discounts}" th:value="${discount.getId()}" th:text="${discount.getDiscountName()}"></option>
                                </select>
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <div class="d-flex align-items-center">
                                    <div class="col-md-6">
                                        <input type="radio" class="form-check-input bg-light" name="isDoublesMatch" id="singlesMatch" value="false">
                                        <label class="form-check-label" for="singlesMatch">Singiel</label>
                                        <span class="m-2">
                                            <input type="radio" class="form-check-input bg-light" name="isDoublesMatch" id="doublesMatch" value="true">
                                        <label class="form-check-label" for="doublesMatch">Debel</label>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="submitDiscountBtn" type="submit" class="btn btn-primary flex-fill w-100" disabled>Zmień zniżkę</button>
                                    </div>
                                </div>
                            </form>
                            <form th:action="@{/reservation/updateTotalPrice}" method="POST" class="d-flex align-items-center mt-3">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <div class="col-md-6">
                                    <input type="number" name="totalPrice" id="totalPrice" class="form-control mr-2" placeholder="Podaj należność" step="any" required>
                                </div>
                                <div class="col-md-6">
                                    <button id="submitTotalPriceBtn" type="submit" class="btn btn-primary w-100" disabled>Zmień należność</button>
                                </div>
                            </form>
                            <form th:action="@{/reservation/updateComments}" method="post" class="mt-3">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <input type="text" name="comments" id="comments" class="form-control mr-2" placeholder="Dodaj komentarz do rezerwacji">
                                <div class="d-flex align-items-center">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" id="submitCommentsBtn" class="btn btn-primary flex-fill w-100" disabled>Dodaj komentarz</button>
                                    </div>
                                </div>
                            </form>
                            <form th:action="@{/reservation/delete}" method="post" class="mt-3">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <input type="hidden" name="date" th:value="${date}">
                                <th:block th:if="${enableChanges}">
                                    <button type="submit" id="deleteBtn" class="btn btn-outline-danger flex-fill w-100">Odwołaj rezerwację</button>
                                </th:block>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="data" th:data-enable-changes="${enableChanges}" hidden></div>
<div id="paymentDetermined" th:payment-determined="${reservation.cash}" hidden></div>
<div id="validForSummary" th:valid-for-summary="${reservation.validForFinanceSummary}" hidden></div>

<script src="/js/updateTime.js"></script>
<script>
    const cashRadio = document.getElementById('cash');
    const cardRadio = document.getElementById('card');
    const submitPaymentBtn = document.getElementById('submitPaymentBtn');

    cashRadio.addEventListener('change', toggleButtonState);
    cardRadio.addEventListener('change', toggleButtonState);

    function toggleButtonState() {
        if (cashRadio.checked || cardRadio.checked) {
            submitPaymentBtn.disabled = false;
        } else {
            submitPaymentBtn.disabled = true;
        }
    }

    const priceScheduleSelect = document.getElementById('discount');
    const doublesMatchRadio = document.getElementById('doublesMatch');
    const singlesMatchRadio = document.getElementById('singlesMatch');
    const submitBtn = document.getElementById('submitDiscountBtn');

    priceScheduleSelect.addEventListener('change', toggleButtonStateDiscount);
    doublesMatchRadio.addEventListener('change', toggleButtonStateDiscount);
    singlesMatchRadio.addEventListener('change', toggleButtonStateDiscount);

    function toggleButtonStateDiscount() {
        const isPriceSelected = priceScheduleSelect.value !== '0'; // Sprawdź, czy wybrano wartość inną niż domyślna (1)
        const isMatchSelected = doublesMatchRadio.checked || singlesMatchRadio.checked; // Sprawdź, czy zaznaczono radio button

        if (isPriceSelected && isMatchSelected) {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }



    const totalPriceInput = document.getElementById('totalPrice');
    const submitTotalPriceBtn = document.getElementById('submitTotalPriceBtn');

    totalPriceInput.addEventListener('input', toggleTotalPriceButtonState);

    function toggleTotalPriceButtonState() {
        if (totalPriceInput.value) {
            submitTotalPriceBtn.disabled = false;
        } else {
            submitTotalPriceBtn.disabled = true;
        }
    }


    const commentsInput = document.getElementById('comments');
    const submitCommentsBtn = document.getElementById('submitCommentsBtn');

    commentsInput.addEventListener('input', function() {
        submitCommentsBtn.disabled = commentsInput.value.trim() === '';
    });





    const submitButton = document.getElementById('submitValidForSummaryBtn');
    const validRadio = document.getElementById('valid');
    const invalidRadio = document.getElementById('invalid');

    validRadio.addEventListener('change', updateSubmitButton);
    invalidRadio.addEventListener('change', updateSubmitButton);

    function updateSubmitButton() {
        const isChecked = validRadio.checked || invalidRadio.checked;

        if (isChecked) {
            submitButton.removeAttribute('disabled');
        } else {
            submitButton.setAttribute('disabled', 'disabled');
        }
    }



    const lightTotal = document.getElementById('lightTotal');
    const submitLightTotalBtn = document.getElementById('submitLightTotalBtn');

    lightTotal.addEventListener('input', toggleLightTotalButtonState);

    function toggleLightTotalButtonState() {
        if (lightTotal.value) {
            submitLightTotalBtn.disabled = false;
        } else {
            submitLightTotalBtn.disabled = true;
        }
    }



</script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        showMessage();
    });

    function showMessage() {
        let enableChanges = document.getElementById('data').getAttribute('data-enable-changes');

        enableChanges = (enableChanges === 'true');

        if (!enableChanges) {
            const card = document.getElementById("toDeactivate");
            card.classList.add('disabled');
            alert("Ups! Próbujesz modyfikować rezerwację dla minionego dnia. W celu korekcji przeszłych rezerwacji skontaktuj się z administratorem strony");
        }
    }
</script>
<script th:inline="javascript">
    //handle if isCash is null or if res is not valid for summary
    document.addEventListener('DOMContentLoaded', function() {
        let payButton = document.getElementById('submitToPayBtn');
        let paymentDetermined = document.getElementById('paymentDetermined').getAttribute('payment-determined');
        let validForSummary = document.getElementById('validForSummary').getAttribute('valid-for-summary');
        validForSummary = validForSummary ==='true';

        if (paymentDetermined === null) {
            payButton.disabled = true;
        } else {
            payButton.disabled = false;
        }
    });


</script>
</body>
</html>



