<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje kortów</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .navbar-custom {
            background-color: #f8f9fa;
        }
        .navbar-brand img {
            max-height: 40px;
        }
        .user-info {
            margin-left: auto;
        }
        /* Zwiększ czcionkę daty i godziny */
        #current-date-time {
            font-size: 24px;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-light navbar-custom">
    <a class="navbar-brand" style="padding-left: 15px" th:href="@{/}">
        <img width="60" height="100" src="/images/mzuk.png" alt="Logo">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Opcja 3</a>
        </li>
    </ul>

    <div class="navbar-text mx-auto">
        <a th:href="@{/}" class="text-decoration-none">
            <h1 id="current-date-time" class="display-4"></h1>
        </a>
    </div>

    <div class="user-info m-3">
        Zalogowany jako: <strong th:text="${username}"></strong>
    </div>

    <button class="btn btn-outline-danger mx-4">Wyloguj</button>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Szczegóły rezerwacji</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="mb-2"><strong>Klient:</strong> <span th:text="${reservation.customer.firstName} + ' ' + ${reservation.customer.lastName}"></span></p>
                            <p class="mb-2"><strong>Data:</strong> <span th:text="${reservation.reservationDate}"></span></p>
                            <p class="mb-2"><strong>Dzień tygodnia:</strong>
                                <span th:if="${!isHoliday}"><span th:text="${dayOfWeek}"></span></span>
                                <span th:if="${isHoliday}"><span th:text="${dayOfWeek} + ' (Święto)'"></span></span>
                            </p>
                            <p class="mb-2"><strong>Numer kortu:</strong> <span th:text="${reservation.courtNumber}"></span></p>
                            <p class="mb-2"><strong>Godzina rozpoczęcia:</strong> <span th:text="${reservation.timeStart}"></span></p>
                            <p class="mb-2"><strong>Godzina zakończenia:</strong> <span th:text="${reservation.timeEnd}"></span></p>
                            <p class="mb-2"><strong>Całkowity czas trwania:</strong> <span th:text="${reservation.convertMinutesToHoursAndMinutes(reservation.duration)}"></span></p>
                            <p class="mb-2"><strong>Czas przyjęcia rezerwacji:</strong> <span th:text="${reservation.acceptedAt}"></span></p>
                            <p class="mb-2"><strong>Rezerwacja przyjęta przez:</strong> <span th:text="${reservation.getAcceptedBy()}"></span></p>
                            <p class="mb-2"><strong>Komentarz:</strong>
                                <span th:if="${reservation.getComments()}!=null" th:text="${reservation.getComments()}"></span>
                                <span th:if="${reservation.getComments() == null or reservation.getComments().trim().isEmpty()}" th:text="Brak"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Płatność</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="mb-2"><strong>Czy opłacono:</strong>
                                <span th:if="${reservation.isPaid()}">
                                    <span>Tak</span>
                                </span>
                                <span th:if="${!reservation.isPaid()}">
                                    <span>Nie</span>
                                </span>
                            </p>
                            <p class="mb-2"><strong>Należność:</strong> <span th:text="${reservation.totalPrice} + ' PLN'"></span></p>
                            <p class="mb-2"><strong>Rodzaj płatności:</strong>
                                <span th:if="${reservation.isCash()==null}">
                                    <span>Nie określono</span>
                                </span>
                                <span th:if="${reservation.isCash()!=null}">
                                    <span th:if="${reservation.isCash()}">
                                        <span>Gotówka</span>
                                    </span>
                                    <span th:if="${!reservation.isCash()}">
                                        <span>Karta</span>
                                    </span>
                                </span>
                            </p>
                            <p class="mb-2"><strong>Zniżka:</strong> <span th:text="${reservation.getDiscountNameForHTML()}"></span></p>
                            <p class="mb-2"><strong>Cennik deblowy:</strong>
                                <span th:if="${reservation.isDoublesMatch()}">
                                    <span>Tak</span>
                                </span>
                                <span th:if="${!reservation.isDoublesMatch()}">
                                    <span>Nie</span>
                                </span>
                            </p>
                            <p class="mb-2"><strong>Stawka:</strong> <span th:text="${reservation.getPricePerHourForHTML(priceSchedule)}"></span></p>
                            <form th:action="@{/reservation/updateIsPaid}" method="post" class="mt-4">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <input type="hidden" name="isPaid" th:value="${reservation.isPaid()}">
                                <button th:if="${!reservation.isPaid()}" type="submit" id="submitToPayBtn" class="btn btn-outline-success w-100">Opłać</button>
                                <button th:if="${reservation.isPaid()}" type="submit" id="submitToUnpayBtn" class="btn btn-outline-danger w-100">Wycofaj zapłatę</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Akcja</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form th:action="@{/reservation/updatePayment}" method="POST" class="d-flex align-items-center">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <div class="col-sm-6">
                                    <input type="radio" class="form-check-input" name="payment" id="cash" value="cash">
                                    <label class="form-check-label" for="cash">Gotówka</label>
                                    <span class="m-2">
                                        <input type="radio" class="form-check-input" name="payment" id="card" value="card">
                                        <label class="form-check-label" for="card">Karta</label>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <button id="submitPaymentBtn" type="submit" class="btn btn-primary flex-fill w-100" disabled>Zmień płatność</button>
                                </div>
                            </form>
                            <form th:action="@{/reservation/updateDiscount}" method="POST" class="mt-4">
                                <select name="discount" id="discount" class="form-control mr-2">
                                    <option th:value="0" disabled selected>Wybierz zniżkę</option>
                                    <option th:each="discount : ${discounts}" th:value="${discount.getId()}" th:text="${discount.getDiscountName()}"></option>
                                </select>
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <div class="d-flex align-items-center">
                                    <div class="col-md-6">
                                        <input type="radio" class="form-check-input" name="isDoublesMatch" id="singlesMatch" value="false">
                                        <label class="form-check-label" for="singlesMatch">Singiel</label>
                                        <span class="m-2">
                                            <input type="radio" class="form-check-input" name="isDoublesMatch" id="doublesMatch" value="true">
                                        <label class="form-check-label" for="doublesMatch">Debel</label>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="submitDiscountBtn" type="submit" class="btn btn-primary flex-fill w-100" disabled>Zmień zniżkę</button>
                                    </div>
                                </div>
                            </form>
                            <form th:action="@{/reservation/updateTotalPrice}" method="POST" class="d-flex align-items-center mt-4">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <div class="col-md-6">
                                    <input type="number" name="totalPrice" id="totalPrice" class="form-control mr-2" placeholder="Podaj cenę" step="any" required>
                                </div>
                                <div class="col-md-6">
                                    <button id="submitTotalPriceBtn" type="submit" class="btn btn-primary w-100" disabled>Zmień należność</button>
                                </div>
                            </form>
                            <form th:action="@{/reservation/updateComments}" method="post" class="mt-4">
                                <input type="hidden" name="id" th:value="${reservation.id}" />
                                <input type="text" name="comments" id="comments" class="form-control mr-2" placeholder="Dodaj komentarz do rezerwacji">
                                <div class="d-flex align-items-center">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" id="submitCommentsBtn" class="btn btn-primary flex-fill w-100" disabled>Dodaj komentarz</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/js/updateTime.js"></script>
<script>
    const cashRadio = document.getElementById('cash');
    const cardRadio = document.getElementById('card');
    const submitPaymentBtn = document.getElementById('submitPaymentBtn');

    cashRadio.addEventListener('change', toggleButtonState);
    cardRadio.addEventListener('change', toggleButtonState);

    function toggleButtonState() {
        if (cashRadio.checked || cardRadio.checked) {
            submitPaymentBtn.disabled = false;
        } else {
            submitPaymentBtn.disabled = true;
        }
    }

    const priceScheduleSelect = document.getElementById('discount');
    const doublesMatchRadio = document.getElementById('doublesMatch');
    const singlesMatchRadio = document.getElementById('singlesMatch');
    const submitBtn = document.getElementById('submitDiscountBtn');

    priceScheduleSelect.addEventListener('change', toggleButtonStateDiscount);
    doublesMatchRadio.addEventListener('change', toggleButtonStateDiscount);
    singlesMatchRadio.addEventListener('change', toggleButtonStateDiscount);

    function toggleButtonStateDiscount() {
        const isPriceSelected = priceScheduleSelect.value !== '0'; // Sprawdź, czy wybrano wartość inną niż domyślna (1)
        const isMatchSelected = doublesMatchRadio.checked || singlesMatchRadio.checked; // Sprawdź, czy zaznaczono radio button

        if (isPriceSelected && isMatchSelected) {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }



    const totalPriceInput = document.getElementById('totalPrice');
    const submitTotalPriceBtn = document.getElementById('submitTotalPriceBtn');

    totalPriceInput.addEventListener('input', toggleTotalPriceButtonState);

    function toggleTotalPriceButtonState() {
        if (totalPriceInput.value) {
            submitTotalPriceBtn.disabled = false;
        } else {
            submitTotalPriceBtn.disabled = true;
        }
    }



    const commentsInput = document.getElementById('comments');
    const submitCommentsBtn = document.getElementById('submitCommentsBtn');

    commentsInput.addEventListener('input', function() {
        submitCommentsBtn.disabled = commentsInput.value.trim() === '';
    });

</script>
</body>
</html>



